<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="usa.sesion7.ejemplofragmentos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EjemploFragmentos">
        <activity
            android:name=".MainActivity_juegos"
            android:exported="false" />
        <activity
            android:name=".MainActivity_eventos"
            android:exported="false" />
        <activity
            android:name=".MainActivity_domicilios"
            android:exported="false" />
        <activity
            android:name=".MainActivity_promociones"
            android:exported="false" />
        <activity
            android:name=".MainActivity_bebidas"
            android:exported="false" />
        <activity
            android:name=".MainActivity_asados"
            android:exported="false" />
        <activity
            android:name=".MainActivity_pinchos"
            android:exported="false" />
        <activity
            android:name=".MainActivity_desgranados"
            android:exported="false" />
        <activity
            android:name=".MainActivity_picadas"
            android:exported="false" />
        <activity
            android:name=".MainActivity_salchipapa"
            android:exported="false" />
        <activity
            android:name=".MainActivity_pizza"
            android:exported="false" />
        <activity
            android:name=".MainActivity_perro"
            android:exported="false" />
        <activity
            android:name=".MainActivity_burger"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>